@charset "utf-8";
/**
    作者:big_jellyfish
    製作日期:4/7 ~ 未知
**/
*{
    box-sizing: border-box;
    position: relative;
}
html,body{
    font-family:'jf open 粉圓 2.0';
}
h1,h2,h3,h4,h5,h6,p{
    margin: 5px 0;
}
hr{
    height: 2px;
    border-width: 0;
    color: #000;
    background-color: #BF0060;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

/*grid system*/
.col-lg-12{
    width: 100%;
}
.col-lg-6{
    width: 50%;
}
.col-lg-4{
    width: 33.3333%;
}
.col-lg-3{
    width: 25%;
}
.container{
    width: 70%;
    margin: 0 auto;
    padding: 0 16px;
    /* border: 1px solid black; */
}
.row{
    margin: 0 -16px;
}
.row::after{
    content:' ';
    display: block;
    clear: both;
}

/* header */

header h1{
    font-size: 50px;
    line-height: 50px;
    display: inline-block;
    opacity: 0;

    animation: fadeIn 3s forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
header h5{
    display: block;
}

header h5 span{
    position: absolute;
    opacity: 0;
    top: 10%;
}
header h5 #s1{
    left: 0;
    animation: rightIn1 1s 1s forwards;
}
header h5 #s2{
    left: 10%;
    animation: rightIn2 1s 2.5s forwards;
}
@keyframes rightIn1 {
    0%{
        left: 10%;
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
@keyframes rightIn2 {
    0%{
        left: 20%;
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        left: 10%;
        opacity: 1;
    }
}
header p{
    position: absolute;
    right: 0;
    top: 100%;
    opacity: 0;

    animation: bottomIn 0.7s 3s forwards;
}
@keyframes bottomIn {
    0%{
        top: 110%;
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        top: 100%;
        opacity: 1;
    }
}
/* navbar */
.navbar{
    margin-top: 25px; ;
    width: 100%;
    height: 40px;
    background-color:#ACD6FF;
}
.navbar .nav .nav-item{
    float: right;
}
.navbar .nav .nav-link{
    display: block;
    line-height: 24px;
    padding: 0 15px;
    margin: 5px 10px;
    color:#600030;
    border: 1px solid #BF0060;
    border-radius: 10px;
    transition: all 0.3s ;
}
.navbar .nav .nav-link:hover{
    color: #FFD9EC	;
    background-color: #BF0060;
}
/* content */
main .content{
    opacity: 0;
    animation: fadeIn 0.3s 1s forwards;
}
main .content .date{
}
main .content .version{
}
main .content .matter{
}
/* footer */
.footer{
    width: 100%;
    height: 40px;
    background-color:#ACD6FF;
}
.footer .msg{
    margin: 8px;
    display: inline-block;
}
.footer .updateTime{
    margin: 8px;
    float: right;
}

/* 元件 */
.backTop{
    position: fixed;
    z-index: 500;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 50px;
}
.btn{
    border: 3px solid #BF0060;
    padding:10px;
    border-radius: 50%;
    transition: all 0.3s;
}
.btn:hover{
    color: #FFD9EC	;
    background-color: #BF0060;
}